@media (max-width: 678px){
	nav ul li a{
		display: none;
	}
	.container{
		display: flex;
		flex-direction: column;
	}
	.left{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		order: 2;
	}
	.left .btn{
		width: 125%;
		text-align: center;
	}
	.btn:hover{
		color: #fff;
		background:  black;
	}
	.left h1{
		font-size: 35px;
		text-align: center;
	}
	.left p{
		font-size: 14px;
		width: 100%;
		text-align: center;
	}
	.right img{
		width: 300px;
		order: 1;
	}
	.learn-content{
		display: inline-block;
		margin-top: 20px;
		font-size: 18px;
		margin-right: 10px;
	}
	.bg-content{
		margin-top: 475px;
	}
	.content-img img{
		width: 125px;
	}
	.content-text p, .content-text a{
		font-size: 12px;
		line-height: 20px;
		font-family: var(--main);
	}
	.content-bg{
		width: 125px;
		top: 90px;
		opacity: .3;
		right: 0px;
	}
}

@media(max-width: 768px){
	nav{
		justify-content: space-evenly;
		align-items: center;
	}
	nav ul li a{
		padding: 10px;
		background-color: rgba(70, 232, 129, .7);
		border-radius: 10px;
		margin-left: 35px;
	}
	.left h1{
		font-size: 40px;
	}
	.right img{
		width: 275px;
	}
	.left p{
		font-size: 14px;
	}
	.left .btn, .learn-content{
		display: inline-block;
		margin-top: 20px;
		margin-right: 20px;
	}
	.btn:hover{
		color: #fff;
		background:  black;
	}
}
